{% extends "base.html" %}
{% block content %}
<h1>neXus Transfer</h1>
<h2 style="font-style: italic; color: #888;">"Xfer"</h2>
<noscript>Scripts are required to send files, due to the way streaming is implemented.</noscript>
<p>Your file data isn't stored&mdash;it is merely proxied to the downloading client.</p>

<script type="text/javascript">
var dec = new TextDecoder();
var size = null;

function set_info(s) {
	document.querySelector("#info").innerHTML = s;
}

function set_progress(state) {
	var el = document.querySelector("#progress");
	if(state == "done") {
		el.style.visibility = "hidden";
	} else {
		el.style.visibility = "visible";
		el.max = size;
		el.value = state;
		set_info(`${(state / size * 100).toFixed(2)}%`);
	}
}

async function do_send(form) {
	var f = form.elements.file;
	if(f.files.length < 1) {
		set_info("Please select a file.");
		return false;
	}
	var fl = f.files[0];
	size = fl.size;
	var nm = encodeURIComponent(fl.name);
	var resp = await fetch(`${form.action}?${nm}`, {
		method: form.method,
		body: fl,
	});
	var reader = resp.body.getReader();
	var accum = "";
	var state = "start";
	while(true) {
		const {value, done} = await reader.read();
		if(done) break;
		accum += dec.decode(value, {stream: true});
		var ix = accum.indexOf("\n");
		if(ix != -1) {
			var word = accum.substring(0, ix);
			accum = accum.substring(ix + 1);
			switch(state) {
				case "start":
					var url = `${location.origin}/recv/${word}`
					set_info(`Ready to upload; visit <a href="${url}">${url}</a> to begin.`);
					state = "upload";
					break;
				case "upload":
					if(word == "Success") {
						set_progress("done");
						set_info("Upload complete. You may upload another file.");
					} else {
						set_progress(parseInt(word));
					}
					break;
			}
		}
	}
	return true;
}

document.addEventListener("DOMContentLoaded", function() {
	document.forms[0].addEventListener("submit", function(ev) {
		ev.preventDefault();
		do_send(ev.target);
	});
});
</script>

<h1>Send a File</h1>
<form method="POST" action="{{ url_for('send') }}" enctype="multipart/form-data">
	<p>Choose files: <input type="file" name="file"></p>
	<button type="Submit">Send</button>
</form>
<p id="info"></p>
<progress id="progress" style="visibility: hidden; width: 100%;"></progress>
{% endblock %}
